body{
    background-color:black;
    text-align: center;
}
h1{
    background-color: black;
    color: blue;
}

img{
    height: 500px;
    width: 500px;
}
p{
    background-color: black;
    color:white;
    font-size: 17px;
    font-family: 'Edu SA Beginner', cursive;

}
